# Virtual environment
venv/

# Ignore folders
database/data/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# VS Code
.vscode/

# Ignore files
to_do.txt

# Logs
*.log

# OS
.DS_Store
Thumbs.db