# Virtual environment
venv/

# Ignore folders
database/data/

# Python cache
__pycache__/
*.py[cod]

# # Jupyter
# .ipynb_checkpoints/

# VS Code
.vscode/

# Ignore files
.env
to_do.txt

# Logs
*.log

# OS
.DS_Store
Thumbs.db